@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    /* font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif; */
    /* font-weight: lighter; */
    /* color: #839496; */
}

/**
 * Page Header
 */
header {
  text-align: center;
}
header h4,
header h3 {
  font-size: 0.75em;
}


/**
 * Improve readablility
 */
.container {
  color: #839496;
  background-color: #fdf6e3;
  z-index: 0; /* Fix bug with background-color hiding the border */
}
.container p {
  /* font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif; */
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.container.with-title > .title {
  background-color: #eee8d5;
}

/**
 * Style for the speakers
 */
[class^="speaker-"] {
  margin: 0;
}
.speaker-announcer {
  /* border: thin solid #ddd; */
  text-align: center;
  margin: 1em 0;
}
.speaker-player {
  /* background-color: #7FDBFF; */
  text-align: right;
  margin-left: 1em;
  /* border-radius: 10px 0 0 10px; */
}
.speaker-opponent {
  /* background-color: #FFDC00; */
  text-align: left;
  margin-right: 1em;
  /* border-radius:  0 10px 10px 0; */
}
